@font-face {
	font-family: 'Sunny';
	src: url("./assets/fonts/Sunny Spring Day - TTF.ttf"); 
}

.row {
	display: flex;
}

.col-1 {
	flex: 1;
}

.col-2 {
	flex: 2;
}

.col-3 {
	flex: 4;
}

.text {
	text-align: right;
}

.text, .numb {
	color: #4682b4;
	text-shadow: -1px 1px #000000;
	font-size: 30px;
	font-family: 'Sunny', 'Times New Roman', Times, serif
}

body {
	background: #dcdcdc;
	padding-left: 10%;
	padding-right: 10%;

	.header {
		h1 {
			color: #006400;
			text-align: center;
			text-shadow: -1px 1px #000000;
		}
	}

	.content {
		min-height: 450px;
		border: 1px solid #000000;
	}

	.footer {
		padding-top: 1%;
		max-height: 10px;
	}
}